body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: block;
    background-color: #f5f5f5;
}

.card {
    background: linear-gradient(0deg, rgba(240, 240, 240, 0.5) 62%, rgba(208, 208, 208, 0.5) 42%);
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    align-items: left;
}

.topcard {
    background: rgba(208, 208, 208, 0.5);
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    align-items: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    align-items: left;
    padding-bottom: 10px;
}

.card-header .md-icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;

}

.card-header .sm-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.card-header .header-variable {
    font-size: 1.4em;
    font-weight: bold;

}

.card-header .other-variable {
    font-size: 1.0em;
    font-weight: normal;

}

.card-content {
    margin-top: 15px;
    font-size: 1em;
}

.card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
}

.card-buttons button:hover {
    background-color: #005a9e;
}